{% set id = 'chart_' ~ name ~ '_' ~ id %}
<canvas id="{{ id }}"></canvas>

<script>
document.addEventListener('DOMContentLoaded', function() {
    {{ id }} = new Chart(
        document.getElementById("{{ id }}"),
        {{ chart.options|default([])|json_encode|raw }}
    );
    refresh = function() {
        if (refresher.stop) return;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open('{{ http_method }}', '{{ url(alias ~ '_chart_data', {'name': name}) }}?t=' + document.getElementById("charts_time_selector").value);
        xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xmlhttp.onload = function() {
            if (this.status === 200) {
                {{ id }}.data = JSON.parse(this.responseText);
                {{ id }}.update();
                return;
            }
        };
        xmlhttp.onerror = function() {
            document.getElementById("{{ id }}").style.border = "1px dotted red";
            clearInterval(refreshInterval);
        };
        xmlhttp.send();
    };
    refresh();
    {% if chart.refresh_interval is defined and chart.refresh_interval > 0 %}
    var refreshInterval = setInterval(refresh, {{ (chart.refresh_interval * 1000)|round }});
    {% endif %}
    refresher.map.{{ id }} = refresh;
}, false);
</script>
