<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"
        integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg=="
        crossorigin="anonymous">
</script>
<div class="float-left mr-2">
    <select class="form-control form-control-sm" id="charts_time_selector" onchange="javascript: refreshAll();">
        <option value="-5 minutes">Last 5 minutes</option>
        <option value="-15 minutes">Last 15 minutes</option>
        <option value="-30 minutes">Last 30 minutes</option>
        <option value="-1 hour">Last hour</option>
        <option value="-2 hours">Last 2 hours</option>
        <option value="-6 hours">Last 6 hours</option>
        <option value="-1 day">Last day</option>
    </select>
</div>
<div class="float-left">
    <button type="button"
            class="btn btn-sm btn-success"
            onclick="javascript: this.classList.toggle('btn-success'); this.classList.toggle('btn-danger'); refresher.stop = !refresher.stop; if (!refresher.stop) refreshAll();">
    Refresh status
    </button>
</div>
<div class="clearfix"></div>

<div>
{% set i = 0 %}
{% set count = dashboard.charts|length %}
{% for name, chart in dashboard.charts %}
    {% set i = i + 1 %}
    {% set mod = i % 3 %}
    {% if mod == 1 %}
    <div class="row">
    {% endif %}
        <div class="chart-container col-lg-{{ chart.size }} p-3 mb-5" style="height: 50vh;">
            {% if name in available_charts %}
            <h4 class="text-muted">
                {% if chart.label is defined %}
                    {% if chart.label %}{{ chart.label }}{% else %}&nbsp;{% endif %}
                {% else %}
                    {{ name|humanize }}
                {% endif %}
            </h4>
            <div class="shadow border p-3" style="height: 100%;">
                {{ render(controller(
                   'GetRepo\\Charts\\Controller\\ChartController::chartAction',
                    {'name': name}
                )) }}
            </div>
            {% endif %}
        </div>
    {% if mod == 0 or count == i %}
    </div>
    {% endif %}
{% endfor %}
</div>
<script>
Chart.defaults.global.animation.duration = 0;
Chart.defaults.global.defaultFontSize = 10;
Chart.defaults.global.layout.padding.bottom = 40;
Chart.defaults.global.legend.labels.boxWidth = 10;
Chart.defaults.global.legend.labels.padding = 5;
Chart.defaults.global.legend.position = 'bottom';
Chart.defaults.global.maintainAspectRatio = false;
refresher = {map: {}, stop: false};
function refreshAll() {
    Object.keys(refresher.map).forEach(key => {
        refresher.map[key]();
    });
}
</script>
