{% set id = 'chart_' ~ name ~ '_' ~ id %}
<div id="{{ id }}_container" class="text-muted" style="text-align: center; vertical-align: middle;">
    <span id="{{ id }}" style="font-size: 230px; font-weight: 600;"></span>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    refresh = function() {
        if (refresher.stop) return;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open('{{ http_method }}', '{{ url(alias ~ '_chart_data', {'name': name}) }}?t=' + document.getElementById("charts_time_selector").value);
        xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xmlhttp.onload = function() {
            if (this.status === 200) {
                document.getElementById("{{ id }}").innerHTML = this.responseText;
            }
        };
        xmlhttp.onerror = function() {
            document.getElementById("{{ id }}").style.border = "1px dotted red";
            clearInterval(refreshInterval);
        };
        xmlhttp.send();
    };
    refresh();
    {% if chart.refresh_interval is defined and chart.refresh_interval > 0 %}
    var refreshInterval = setInterval(refresh, {{ (chart.refresh_interval * 1000)|round }});
    {% endif %}
    refresher.map.{{ id }} = refresh;
}, false);
</script>
