{% set id = 'chart_' ~ name ~ '_' ~ id %}
<table id="{{ id }}" class="table table-sm table-responsive" style="overflow-y: scroll; height: 90%;">
    <thead id="{{ id }}_head"></thead>
    <tbody id="{{ id }}_body" style="word-break: break-all;"></tbody>
</table>

<script>
document.addEventListener('DOMContentLoaded', function() {
    refresh = function() {
        if (refresher.stop) return;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open('{{ http_method }}', '{{ url(alias ~ '_chart_data', {'name': name}) }}?t=' + document.getElementById("charts_time_selector").value);
        xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xmlhttp.onload = function() {
            if (this.status === 200) {
                response = JSON.parse(this.responseText);
                if (response.columns) {
                    document.getElementById('{{ id }}_head').innerHTML = '';
                    for (const [column, attr] of Object.entries(response.columns)) {
                        let th = document.createElement('th');
                        th.innerHTML = column;
                        for (const [attrName, attrValue] of Object.entries(attr)) {
                            th.setAttribute(attrName, attrValue);
                        }
                        document.getElementById('{{ id }}_head').appendChild(th);
                    }
                }
                if (response.data) {
                    document.getElementById('{{ id }}_body').innerHTML = '';
                    for (const [i, data] of Object.entries(response.data)) {
                        let tr = document.createElement('tr');
                        for (const [k, value] of Object.entries(data)) {
                            let td = document.createElement('td');
                            td.innerHTML = value;
                            tr.appendChild(td);
                        }
                        document.getElementById('{{ id }}_body').appendChild(tr);
                    }
                }
               // document.getElementById("{{ id }}").closest("div.chart-container").style.overflowY = "scroll";
            }
        };
        xmlhttp.onerror = function() {
            document.getElementById("{{ id }}").style.border = "1px dotted red";
            clearInterval(refreshInterval);
        };
        xmlhttp.send();
    };
    refresh();
    {% if chart.refresh_interval is defined and chart.refresh_interval > 0 %}
    var refreshInterval = setInterval(refresh, {{ (chart.refresh_interval * 1000)|round }});
    {% endif %}
    refresher.map.{{ id }} = refresh;
}, false);
</script>
